NODE_ENV=development
PORT=4000

# Database
DATABASE_URL=postgresql://monitoring:Yuvan@2005@localhost:5432/api_monitoring

# JWT
JWT_SECRET=9f3c7b1e8a4d2f6c0b5e9a7d3c1f8e6b2a4c9d7e5f1b3a6c8d0e2f4a7b9c1d3
JWT_EXPIRES_IN=7d

# SMTP (Email Alerts)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=yuvanraajc@gmail.com
SMTP_PASSWORD=poiu wxhc ywqj huum
SMTP_FROM=monitoring@yourcompany.com

# Frontend URLs (for CORS)
FRONTEND_URL=http://localhost:5173
STATUS_URL=http://localhost:5174
