NODE_ENV=development

# Database
DATABASE_URL=postgresql://monitoring:Yuvan@2005@localhost:5432/api_monitoring

# SMTP (for email alerts)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=yuvanraajc@gmail.com
SMTP_PASSWORD=poiu wxhc ywqj huum
SMTP_FROM=monitoring@yourcompany.com

# Worker settings
MAX_CONCURRENT_CHECKS=10
